name: publish_rt3
on: [workflow_dispatch]
jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # Running this job only for main branch
    steps:
      - uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build & Publish Docker image for rt3 tag
        run: |
              docker build . -t ghcr.io/vauff/steamrt3-pterodactyl:rt3 -f docker/RT3-Dockerfile
              docker push ghcr.io/vauff/steamrt3-pterodactyl:rt3